@media print, screen and (min-width: 640px) {

    body {
        font-family: 'Noto Sans JP', sans-serif;
        color:#363636;
        background: #f4f7f6;

        max-width: 98%;
        text-align: center;

        /*ロゴサイズ*/
        .img {
            width: 150px;
            height: 80px;
        }

        /*サムネ画像*/
        .live_card {
            border-radius: 30px;
            width:98;
            height: 430px;
        }

        /*「」用のやつ*/
        tag {
            color:#00c5f7;
        }
        a {
            color:#00c5f7;
        }
    }
    /*中央配置"センタリング"*/
    #wrap {
        width: 840px;
        margin: 0 auto;
        text-align: left;

        .left {
            width:300px;
            float: left;
        }
        .right {
            width:660px;
            float: right;
        }

        iframe {
          width: 830px;
          height: 470px;
          border-radius: 20px;
        }
    }

    /*ライブ配信アクセス用テーブル*/
    table {
        margin: 20px auto;
        height: 600px;
        border-collapse: separate;
        border-collapse: 30px 0px;
      }
      
    td {
         height:500px;
         max-width: 98%;
         width:98%;
         border-radius: 20px;
         box-shadow: 0 0 8px gray;
         border: solid 1px rgb(142, 238, 255);
         background: #fff;
         padding: 10px;
        }
    }
    .last td:last-child {
        border-bottom: solid 1px #ccc;
        width: 98%;
    }

     .tbl-r02 {
        width: 80%;

    th, td {
        border-bottom: none;
        display: block;
    }
}
    

      /*ボタンバーというかメニューバー*/
      .cp_navi {
        background-color: #ffffff;
        border: 1px solid #dedede;
        border-radius: 4px;
        box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.055);
        color: #888888;
        display: block;
        margin: 1em 1%;
        overflow: hidden;
        width: 98%;
      
        ul {
          margin: 0;
          padding: 0;
    
          li {
            display: inline-block;
            list-style-type: none;
            -webkit-transition: all 0.2s;
            transition: all 0.2s;
          }
        }
      
        > ul > li {
          > a {
            > .caret {
              border-top: 4px solid #aaaaaa;
              border-right: 4px solid transparent;
              border-left: 4px solid transparent;
              content: '';
              display: inline-block;
              height: 0;
              width: 0;
              vertical-align: middle;
              -webkit-transition: color 0.1s linear;
              transition: color 0.1s linear;
            }
      
            color: #aaaaaa;
            display: block;
            line-height: 56px;
            padding: 0 10px;
            text-decoration: none;
          }
      
          &:hover {
            background-color: rgb(0, 255, 255);
      
            > a {
              color: rgb(255, 255, 255);
      
              > .caret {
                border-top-color: rgb(255, 255, 255);
              }
            }
      
            > div {
              display: block;
              opacity: 1;
              visibility: visible;
            }
          }
      
          > div {
            background-color: rgb(218, 60, 65);
            border-top: 0;
            border-radius: 0 0 4px 4px;
            box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.055);
            display: none;
            margin: 0;
            opacity: 0;
            position: absolute;
            width: 165px;
            visibility: hidden;
            -webkit-transiton: opacity 0.2s;
            transition: opacity 0.2s;
          }
      
          > div ul > li {
            display: block;
      
            > a {
              color: #ffffff;
              display: block;
              padding: 12px 24px;
              text-decoration: none;
            }
      
            &:hover > a {
              background-color: rgba(255, 255, 255, 0.1);
            }
          }
        }
        
      }
